.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

.song_name {
    font-size: 21;
    text-align: center;
}

#message {
    font-size: 15px;
}

.button_play {
    font-size: 23px;
}

canvas {
    border: 5px solid cyan;
    border-radius: 20px;
}